@font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 100;
	src: url("/public/assets/fonts/ahang/woff/Ahang-Thin.woff") format("woff"); /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
	font-display: swap;
  }
  @font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 200;
	src: url("/public/assets/fonts/ahang/woff/Ahang-UltraLight.woff") format("woff"); /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
	font-display: swap;
  }
  @font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 300;
	src: url("/public/assets/fonts/ahang/woff/Ahang-Light.woff") format("woff"); /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
	font-display: swap;
  }
  @font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/public/assets/fonts/ahang/woff/Ahang-Medium.woff") format("woff"); /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
  }
  @font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 600;
	src: url("/public/assets/fonts/ahang/woff/Ahang-DemiBold.woff") format("woff"); /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
	font-display: swap;
  }
  @font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("/public/assets/fonts/ahang/woff/Ahang-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
  }
  @font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 850;
	font-display: swap;
	src: url("/public/assets/fonts/ahang/woff/Ahang-UltraBold.woff") format("woff"); /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
  }
  @font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("/public/assets/fonts/ahang/woff/Ahang-Black.woff") format("woff"); /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
  }
  @font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: Bold;
	font-display: swap;
	src: url("/public/assets/fonts/ahang/woff/Ahang-Bold.woff2") format("woff"); /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
  }
  @font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("/public/assets/fonts/ahang/woff/Ahang-Regular.woff") format("woff"); /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
  }