@import '_fonts';

body{
    
    font-family: ahang, 'Arial', sans-serif;;
    overflow-x: hidden;
}
* {
    letter-spacing: normal;
}
.content-wrapper{
    margin-bottom: 56px;
    &.has-bottom-audio{
    margin-bottom: 125px !important;

    }
}
.text-small{
    font-size: 14px;
}
.inner-text-left input{
    text-align: left;
}
.product-type-absolute{
    font-size: 12px;
    background: #FFF;
    border-radius:20px;
    opacity: .85;
    z-index: 10;
    position: absolute;
    padding: 5px 7.5px 5px 7.5px;
    margin: 6px 5px 0 0;

}
.product-card-item .v-card-title{
    font-size: 14px;
    font-weight: 900;
}
.product-like-action{
    left: 0;
    background: none;
    z-index: 10;
    padding: 0;
    border-radius: 0 0 20px;
    opacity: .85;
transform: scale(.75);
}
.v-card-subtitle{
    color: white !important;
    z-index: 10;
    margin-bottom: 7.5px;
}
.v-card-title {
    padding-bottom: 0px !important;
}


.page-loading .v-overlay__content {
  width: 100%;
  height: 100vh;
}

.app-outer {
  transition: 1s;
  &.app-is-loading {
    filter: blur(4px) grayscale(70%);
    opacity: 0.85;
   
    
}
}
.in-loading{
    pointer-events: none;
    overflow: hidden;
}

body.bg-white{
    .v-application__wrap{
        background-color: white;
    }
}
.v-img__gradient{
    opacity: .5;
}
.v-container{
    max-width: 990px !important;
}